body{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/field.jpg);
    font-family:'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
  }
.content {
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  padding: 60px 32px;
  width: 400px;
  transform: translate(-50%, -45%);
  background: rgba(255, 255, 255, 0.133);
  border: 1px solid #fff;
  box-shadow: 0 0 6px 0 rgba(29, 29, 29, 0.203);
  }
  .content header {
    color: white;
    font-size: 33px;
    font-weight: 600;
    margin: 0 0 35px 0;
    font-family: "Montserrat", sans-serif;
  }
  .content header img{
    margin-left: 5px;
    width: 50px;
    height: 10hv;
  }
  .field {
    position: relative;
    height: 45px;
    width: 100%;
    display: flex;
    background: rgba(255, 255, 255, 0.94);
  }
  .field input {
    height: 100%;
    width: 100%;
    border: none;
    color: #222;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
  }

  
form .input-box{
    color: #000;
    margin-bottom: 20px;
    width: 100%;
}
form .input-box span.details{
    color: #fff;
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 15px;
}
.input-box input{
    height: 45px;
    width: 100%;
    font-size: 16px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.input-box.success input{
    border: 2px solid rgb(43, 255, 0);
}
.input-box.error input{
    border: 2px solid rgb(255, 0, 0);
}

.input-box small{
    display: block;
    visibility: hidden;
}

.input-box.error small{    
    background-color: #ff0000;
    margin: 10px;
    visibility: visible;
    font-size: 14px;
    color: black;
}

  .field input[type="submit"] {
    background: #fc2e2e;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .3s ease;
  }
  
  .border:hover, .border:focus{
    border: 1px solid #fc2eadf5;
  }
  
  .field input[type="submit"]:hover {
    background: #fff;
    color: #fc2e2e;
  }
  .login {
    color: rgb(255, 255, 255);
    margin: 20px 0;
  }
.register-question h4{
    color: #fff;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}
.register-btn{
    font-weight: 400;
    width: 150px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    margin: 10px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.register-btn:hover{
    color: rgb(255, 255, 255);
    border: 1px solid #ff2020;
    background-color: #ff2020;
    transition: 1s;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}